<div *ngIf="Conexion">
    <app-slidessearch></app-slidessearch>
    <div>
        <ion-row>
            <ion-col size="12">
                <ion-title class="titulowelcome">
                    <h3 class="ion-text-wrap"> {{ 'Home.TitleHome' | translate }}</h3>
                </ion-title>
            </ion-col>
            <ion-col size="6">
                <ion-card class="cardsearch" (click)="abriCiudad('Mérida, Yuc., México')">
                    <img src="assets/img/tikisfondo/mexico.png" alt="">
                    <div class="card-pais">{{ 'Home.RiveraMaya' | translate }}</div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="cardsearch" (click)="abriCiudad('Cusco, Perú')">
                    <img src="assets/img/tikisfondo/peru.png" alt="">
                    <div class="card-pais">{{ 'Home.MachuPicchu' | translate }}</div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="cardsearch" (click)="abriCiudad('El Cairo, Egipto')">
                    <img src="assets/img/tikisfondo/egipto.png" alt="">
                    <div class="card-pais">{{ 'Home.Egipto' | translate }}</div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="cardsearch" (click)="abriCiudad('Roma, Italia')">
                    <img src="assets/img/tikisfondo/roma.png" alt="">
                    <div class="card-pais">{{ 'Home.Roma' | translate }}</div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="cardsearch" (click)="abriCiudad('Tokio, Japón')">
                    <img src="assets/img/tikisfondo/japon.png" alt="">
                    <div class="card-pais">{{ 'Home.Tokio' | translate }}</div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="cardsearch" (click)="abriCiudad('París, Francia')">
                    <img src="assets/img/tikisfondo/paris.png" alt="">
                    <div class="card-pais">{{ 'Home.Paris' | translate }}</div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="cardsearch" (click)="abriCiudad('Madrid, España')">
                    <img src="assets/img/tikisfondo/madrid.png" alt="">
                    <div class="card-pais">{{ 'Home.Madrid' | translate }}</div>
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-card class="cardsearch" (click)="abriCiudad('Atenas, Grecia')">
                    <img src="assets/img/tikisfondo/athenas.png" alt="">
                    <div class="card-pais">{{ 'Home.Grecia' | translate }}</div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="cardsearch" (click)="abriCiudad('New York, Nueva York, EE. UU.')">
                    <img src="assets/img/tikisfondo/usa.png" alt="">
                    <div class="card-pais">{{ 'Home.NewYork' | translate }}</div>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="cardsearch" (click)="abriCiudad('Moscú, Rusia')">
                    <img src="assets/img/tikisfondo/rusia.png" alt="">
                    <div class="card-pais">{{ 'Home.Moscu' | translate }}</div>
                </ion-card>
            </ion-col>

        </ion-row>
    </div>
    <ion-card mode="ios" class="cardmensaje">
        <ion-card-content class="bg-gradient-2 ">
            <div class="text-9pt"><strong>{{ 'Home.Buscacercania' | translate }} </strong></div>
            <br>
            <div class="text-8pt">
                <ion-button color="dark" fill="outline" expand="full" shape="round" (click)="buscarporGeolocation()" mode="ios">
                    {{ 'Home.Buscar' | translate }}
                </ion-button>
            </div>
            <br>
        </ion-card-content>
    </ion-card>
    <div>
        <div *ngIf="tours.length >= 1">
            <ion-col size="12">
                <ion-title class="text-center">
                    <h3>{{ 'Home.Nuevostours' | translate }}</h3>
                </ion-title>
            </ion-col>
            <app-tours [tours]="tours"></app-tours>
        </div>
    </div>
    <div>
        <app-scrollinfinitetour></app-scrollinfinitetour>
    </div>

    <ion-card mode="ios" class="cardmensaje">
        <ion-card-content class="bg-gradient-2 ">
            <br>
            <ion-icon name="stopwatch" style="zoom: 3;"></ion-icon>
            <div class="text-9pt"><strong>{{ 'Home.Cancelaciongratuita' | translate }}</strong></div>
            <br>
            <div class="text-8pt">{{ 'Home.CancelaciongratuitaTexto' | translate }}</div>
            <br>
        </ion-card-content>
    </ion-card>
</div>
<div *ngIf="NoConexion">
    <ion-slides [options]="sliderOpts">
        <ion-slide>
            <div class="texto">
                <h2>{{ 'Alertas.HuboError' | translate }}<br> {{ 'Alertas.Nointernet' | translate }}</h2>
                <ion-label>{{ 'Alertas.NoInternet2' | translate }} </ion-label>
                <br><br>
                <ion-button class="log-in-button" color="primary" expand="block" (click)="cargarTours()">
                    {{ 'Alertas.Actualizar' | translate }}
                </ion-button>
            </div>

        </ion-slide>
    </ion-slides>
</div>