<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=12>
                <ion-text>
                    <h2> {{ 'ComoFunciona.ComoFuncionaTitle' | translate }}
                    </h2>
                </ion-text>
                <ion-img src="assets/img/getstarted/section1.jpeg"></ion-img>
                <ion-text>
                    <h4>{{ 'ComoFunciona.Title1' | translate }}</h4>
                    <h6>{{ 'ComoFunciona.Title1Texto' | translate }}</h6>
                </ion-text>
                <br>
                <ion-img src="assets/img/getstarted/section2.jpeg"></ion-img>
                <ion-text>
                    <h4>{{ 'ComoFunciona.Title2' | translate }}</h4>
                    <h6>{{ 'ComoFunciona.Title2Texto' | translate }}</h6>
                </ion-text>
                <br>
                <ion-img src="assets/img/getstarted/section3.jpeg"></ion-img>
                <ion-text>
                    <h4>{{ 'ComoFunciona.Title3' | translate }}</h4>
                    <h6>{{ 'ComoFunciona.Title2Texto' | translate }}</h6>
                </ion-text>
                <br>
                <ion-img src="assets/img/getstarted/section4.jpeg"></ion-img>
                <ion-text>
                    <h4>{{ 'ComoFunciona.Title4' | translate }}</h4>
                    <h6>{{ 'ComoFunciona.Title4Texto' | translate }}</h6>
                </ion-text>
                <br>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>