<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home/profile">
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'EditProfile.EditProfileTitle' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="empty bg-secondary"></div>
    <div class="ion-text-center image-over-div" *ngIf="user">
        <img *ngIf="!imagenTemp" [src]="user.img | imagenprofile:'profile'" alt="" class="image-round border-white">
        <img *ngIf="imagenTemp" [src]='imagenTemp' alt="" class="image-round border-white">
    </div>
    <br>
    <!--<div class="margin-bottom margin-top text-center">
        <label class="custom-file-upload" style="margin:auto;max-width:400px">
              <input id="file-upload" placeholder="Seleciona imagen" type="file" accept=".png, .jpg"
                (change)="onUpload($event)" />
              <ion-icon margin-right name="cloud-download"></ion-icon> {{ 'EditProfile.Selectphoto' | translate }}
            </label>
    </div>-->

    <ion-row *ngIf="user">
        <ion-col size="12">
            <ion-text>
                <h3>{{ 'EditProfile.InformacionPersonal' | translate }}</h3>
            </ion-text>
            <form [formGroup]='formulario' (ngSubmit)="actualizarInfo()">
                <ion-label position="floating"> </ion-label>

                <ion-item>
                    <ion-label position="floating">{{ 'EditProfile.name' | translate }}</ion-label>
                    <ion-input class="form-control" type="text" formControlName="name">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{ 'EditProfile.email' | translate }}</ion-label>
                    <ion-input class="form-control" type="text" formControlName="email">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{ 'EditProfile.telephone' | translate }}</ion-label>
                    <ion-input class="form-control" type="number" formControlName="telephone">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'EditProfile.sexo' | translate }}</ion-label>
                    <ion-select placeholder="Select One" formControlName="sexo">
                        <ion-select-option value="Femenino">{{ 'EditProfile.femenino' | translate }}</ion-select-option>
                        <ion-select-option value="Masculino">{{ 'EditProfile.masculino' | translate }}
                        </ion-select-option>
                        <ion-select-option value="Other">{{ 'EditProfile.otro' | translate }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <!--
                    <ion-item>
                    <ion-label position="floating">{{ 'EditProfile.Biografia' | translate }} </ion-label>
                    <ion-textarea class="form-control" type="text" formControlName="infopersonal">
                    </ion-textarea>
                </ion-item>
            -->

                <ion-col size="12" style="margin:auto">
                    <ion-button color="primary" type="submit" expand="full" shape="round" class="btn-primary"
                        mode="ios">
                        {{ 'EditProfile.Enviar' | translate }}
                    </ion-button>
                </ion-col>
            </form>
        </ion-col>
    </ion-row>

    <ion-slides>
        <ion-slide>
            <div class="texto">
                <h2 *ngIf="!archivoSubido">{{ 'EditProfile.Añadedocumento' | translate }}</h2>
                <h2 *ngIf="archivoSubido">{{ 'EditProfile.AñadedocumentoText' | translate }}</h2>
                <br><br>
                <div *ngIf="archivoSubido">
                    <ion-img class="identificacion" src="assets/img/default/passportcheck.png">
                    </ion-img>
                </div>
                <div *ngIf="!archivoSubido">
                    <ion-img class="identificacion" src="https://lokkl.com/assets/img/becomeguide/passport.png">
                    </ion-img>

                </div>

                <br><br>
                <ion-button class="log-in-button" color="primary" expand="block" (click)="abrirModalCargar()">
                    {{ 'EditProfile.Cargardocumento' | translate }}
                </ion-button>
            </div>
        </ion-slide>
    </ion-slides>


    <ion-row *ngIf="user">
        <ion-col *ngIf="PasswordRedSocial">
            <ion-text>
                <h3> {{ 'EditProfile.ChangePassword' | translate }}</h3>
            </ion-text>
            <app-change-password></app-change-password>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-text>
            <h3>{{ 'EditProfile.Desactivarcuenta' | translate }}</h3>
            <p>{{ 'EditProfile.DesactivarcuentaTexto' | translate }} </p>
        </ion-text>
        <br>
        <ion-col size="12" style="margin:auto">
            <ion-button (click)="eliminarCuenta()" color="primary" expand="full" shape="round" class="btn-primary"
                mode="ios">
                {{ 'EditProfile.Deletecuenta' | translate }}
            </ion-button>
        </ion-col>
    </ion-row>
    <br><br>
</ion-content>