<ion-header>
    <ion-toolbar color="primary">
        <ion-title> {{ 'Profile.MyPerfil' | translate }}</ion-title>
        <ion-buttons slot="end" *ngIf="user">
            <ion-button (click)="goEditProfile()">
                <ion-icon name="create"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <div class="bg-secondary vertical-padding" *ngIf="user">

        <img [src]="user.img | imagenprofile:'profile'" alt="" class="image-round">

        <div class="ion-text-center">
            <h4 class="text-white">{{ user.name}}</h4>
        </div>
        <div class="ion-text-center">
            <span class="text-white text-job">{{ user.email}}</span>
        </div>

    </div>
    <div class="margin5"></div>
    <ion-grid class="margin5 " *ngIf="!user ">
        <ion-row>
            <ion-col size=12>
                <ion-text>
                    <h2>
                        <ion-icon slot="start " color="primary " name="alert "></ion-icon>
                        <b> {{ 'Profile.IniciaSesion' | translate }}</b> </h2>
                    <h6> {{ 'Profile.SincronizaSesion' | translate }}</h6>
                </ion-text>
            </ion-col>
            <ion-col size=12>
                <ion-button class="log-in-button " color="primary " expand="block " [routerLink]="[ '/login'] ">
                    {{ 'Profile.IniciarSesion' | translate }}
                </ion-button>
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-list mode='ios' lines='none'>
        <ion-item detail [routerLink]="[ '/comofunciona'] " routerLinkActive="router-link-active ">
            <ion-icon name="help" slot="start"></ion-icon>
            <ion-label>
                {{ 'Profile.Comofunciona' | translate }}
            </ion-label>
        </ion-item>
        <ion-item detail [routerLink]="[ '/termsandcondicions'] " routerLinkActive="router-link-active ">
            <ion-icon name="help-circle-outline" slot="start"></ion-icon>
            <ion-label>
                {{ 'Profile.Terminosycondiciones' | translate }}
            </ion-label>
        </ion-item>
        <ion-item detail [routerLink]="[ '/help'] " routerLinkActive="router-link-active ">
            <ion-icon name="help-buoy" slot="start"></ion-icon>
            <ion-label>
                {{ 'Profile.Comopodemosayudarte' | translate }}
            </ion-label>
        </ion-item>
        <ion-item detail (click)="abrirAboutUs() ">
            <ion-icon name="cog" slot="start"></ion-icon>
            <ion-label>
                {{ 'Profile.AcerdedeLOKKL' | translate }}
            </ion-label>
        </ion-item>
        <ion-item detail *ngIf="user">
            <ion-icon name="arrow-forward" slot="start"></ion-icon>
            <ion-label (click)="cerrarSesion() ">
                {{ 'Profile.CerrarSesion' | translate }}
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>