<ion-header no-border translucent>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">{{ 'Login.IniciarSesion' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="login">
    <img class="logo" src="assets/img/logo.png">

    <form [formGroup]='loginForm' (ngSubmit)="onLogin(formulario)">
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label position="floating">{{ 'Login.Email' | translate }}</ion-label>
                    <ion-input type="email" formControlName="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <!--password-->
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label position="floating">{{ 'Login.Password' | translate }}</ion-label>
                    <ion-input type="password" formControlName="password" required></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <h6 position="floating" (click)="recuperarPassword()">{{ 'Login.¿Olvidastetucontraseña?' | translate }}</h6>
            </ion-col>
        </ion-row>
        <br><br>
        <ion-row>
            <ion-col size="12">
                <ion-button [disabled]="!loginForm.valid" color="primary" type="submit" expand="full" shape="round" class="btn-primary" mode="ios" (click)="onLogin()">
                    {{ 'Login.IniciarSesion' | translate }} </ion-button>
            </ion-col>
        </ion-row>
    </form>
    <br>
    <ion-row>
        <ion-col size="12">
            <h4 class="ion-text-center">{{ 'Login.Reservaexperiencia' | translate }}</h4>
        </ion-col>
        <ion-col size="12">
            <ion-button expand="full" fill="clear">
                <ion-label color="dark" [routerLink]="['/register']" routerLinkActive="router-link-active">{{ 'Login.Registrate' | translate }}</ion-label>
            </ion-button>
        </ion-col>
    </ion-row>

</ion-content>