<form [formGroup]='formularioPassword' (ngSubmit)="cambiarPassword(formularioPassword.value)">
    <ion-item>
        <ion-label position="floating">{{ 'EditProfile.PasswordActual' | translate }}</ion-label>
        <ion-input class="form-control" type="text" formControlName="password">
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">{{ 'EditProfile.PasswordOld' | translate }}</ion-label>
        <ion-input class="form-control" type="password" formControlName="new_password">
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">{{ 'EditProfile.PasswordOldConfirm' | translate }}</ion-label>
        <ion-input class="form-control" type="password" formControlName="new_password2">
        </ion-input>
    </ion-item>
    <br>
    <ion-button [disabled]="!formularioPassword.valid" color="primary" type="submit" expand="full" shape="round" class="btn-primary" mode="ios">
        {{ 'EditProfile.Enviar' | translate }}
    </ion-button>
</form>