<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="myBackButton()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>

        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="compartir()">
                <ion-icon slot="icon-only" name="share"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-buttons (click)="agregarFavoritos()">
                <ion-icon slot="icon-only" [name]="estrella"></ion-icon>
            </ion-buttons>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
    <ion-text>
        <h2>{{ 'TourDetalleExtra.Descripción' | translate }}</h2>
    </ion-text>
    <ion-text>
        <p class="text-descripton" [innerHTML]='data?.schedulle'></p>
    </ion-text>

    <div class="hr"> </div>
    <ion-text>
        <h2 id="itinerario">{{ 'TourDetalleExtra.Itinerario' | translate }}</h2>
    </ion-text>
    <ion-list mode='ios' lines='none'>
        <ion-item *ngFor="let item of data?.itinerary">
            <ion-buttons>
                <ion-icon name="radio-button-off" style="zoom:2.0;"></ion-icon>
            </ion-buttons>
            <ion-label class="ion-text-wrap">
                <h3> {{ item.itinerary}}</h3>
            </ion-label>
        </ion-item>
    </ion-list>
    <div class="hr"> </div>
    <ion-text>
        <h2 id="Incluido">{{ 'TourDetalleExtra.Queincluye' | translate }}</h2>
    </ion-text>
    <ion-list mode='ios' lines='none'>
        <ion-item *ngFor="let item of data?.whatsIncluded">
            <ion-buttons>
                <ion-icon color="success" name="checkmark-circle-outline" style="zoom:2.0;"></ion-icon>
            </ion-buttons>
            <ion-label class="ion-text-wrap">
                <h3> {{ item.whatsIncluded}}</h3>

            </ion-label>
        </ion-item>
    </ion-list>
    <div class="hr"> </div>
    <ion-text>
        <h2>{{ 'TourDetalleExtra.Quenoincluye' | translate }}</h2>
    </ion-text>
    <ion-list mode='ios' lines='none'>
        <ion-item>
            <ion-buttons>
                <ion-icon color="danger" name="close-circle" style="zoom:2.0;"></ion-icon>
            </ion-buttons>
            <ion-label class="ion-text-wrap">
                <h3>{{ 'TourDetalleExtra.Propinas' | translate }} </h3>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-buttons>
                <ion-icon color="danger" name="close-circle" style="zoom:2.0;"></ion-icon>
            </ion-buttons>
            <ion-label class="ion-text-wrap">
                <h3>{{ 'TourDetalleExtra.ServiciosAdicionales' | translate }} </h3>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-card mode="ios" class="cardmensaje">
        <ion-card-content class="bg-gradient-2 ">
            <br>
            <ion-icon name="stopwatch" style="zoom: 3;"></ion-icon>
            <div class="text-9pt"><strong>{{ 'Home.Cancelaciongratuita' | translate }}</strong></div>
            <br>
            <div class="text-8pt">{{ 'Home.CancelaciongratuitaTexto' | translate }}</div>
            <br>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button class="botonprimary" color="primary" expand="block" (click)="reservarTour()">
            {{ 'TourDetalleExtra.Reservar' | translate }}
        </ion-button>
    </ion-toolbar>
</ion-footer>