.text-descripton {
    padding: 5%;
    text-align: justify;
}

h2 {
    text-align: center;
}

ion-buttons {
    margin-right: 4%;
}

.text-center {
    text-align: center;
}

.cardmensaje {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    margin-top: 0px;
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    background: #F5F5F5;
}