<ion-row>


  <ion-col size="6">
    <div (click)="onClick('https://www.queretaro.gob.mx/')">
      <img src="https://lokkl.com/assets/img/sponsors/Queretaro_logo.jpg">
    </div>
  </ion-col>
  <ion-col size="6">

    <div (click)="onClick('https://www.anahuac.mx/queretaro/')">
      <img src="https://lokkl.com/assets/img/sponsors/anahuac.jpg">
    </div>
  </ion-col>
  <ion-col size="6">
    <div (click)="onClick('https://grupovelas.com.mx/')">
      <img src="https://lokkl.com/assets/img/sponsors/velas.jpg">
    </div>
  </ion-col>
  <ion-col size="6">

    <div (click)="onClick('http://www.corregidora.gob.mx/')">
      <img src="https://lokkl.com/assets/img/sponsors/corregidora.jpg">
    </div>
  </ion-col>
  <ion-col size="6">

    <div (click)="onClick('https://tarmexico.com/')">
      <img src="https://lokkl.com/assets/img/sponsors/tar.jpg" alt="">
    </div>
  </ion-col>
  <ion-col size="6">
    <div (click)="onClick('http://www.decote.mx/')">
      <img src="https://lokkl.com/assets/img/sponsors/jfr.jpg">
    </div>
  </ion-col>

</ion-row>

<div style="margin-bottom: 10%"></div>