form {
    padding: 6%;
}

.hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
}

ion-button {
    --ion-button-round-border-radius: 50px;
    --ion-button-border-radius: 50px;
    --ion-border-radius: 50px;
    --border-radius: 50px;
}

.list-md {
    padding-top: 0px;
    padding-bottom: 0px
}


/*
  *Profile 
  */

.bg-gradient {
    background: linear-gradient(90deg, rgba(0, 78, 160, 1) 0%, rgba(0, 78, 160, 1) 100%);
    background-image: linear-gradient(90deg, rgba(0, 78, 160, 1) 0%, rgba(0, 78, 160, 1) 100%);
    --background: linear-gradient(90deg, rgba(0, 78, 160, 1) 0%, rgba(0, 78, 160, 1) 100%);
}

.searchbar-white {
    --background: white;
}

$image-size: 120px;
.description {
    text-align: center;
}

.bg-secondary {
    background-color: var(--ion-color-primary)
}

.border-white {
    border-color: #FAFAFA !important;
}

.empty {
    padding-bottom: 50px;
    padding-top: 50px;
}

.image-round {
    background-color: #CECECE;
    border: 2px solid #FAFAFA;
    border-radius: 50%;
    display: block;
    height: $image-size;
    margin: 0 auto;
    width: $image-size;
}

.image-over-div {
    margin-top: -($image-size/ 2);
}

.margin-top {
    margin-top: 20px;
}

.position-relative {
    position: relative;
}

.text-bold {
    font-size: 12px;
    font-weight: bold;
}

.text-profile {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-job {
    font-size: 12px;
}

.text-statics-big {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.text-primary {
    color: var(--ion-color-primary) !important;
}

.text-tertiary {
    color: var(--ion-color-tertiary) !important;
}

.text-muted {
    color: #898c91 !important;
}

.text-white {
    color: #FAFAFA !important;
}

.vertical-padding {
    padding-bottom: 15px;
    padding-top: 15px
}


/*
  *Calendario 
  */

.li-ionic4-datePicker {
    .modal-wrapper {
        height: 470px;
        max-height: 100%;
        width: 312px;
    }
}

.li-ionic4-datePicker {
    .modal-wrapper {
        height: 470px;
        max-height: 100%;
        width: 312px;
    }
}

ion-toolbar {
    --background-color: transparent !important;
    --ion-color-base: transparent !important;
}


/* login */

ion-item {
    --ion-item-background: transparent;
}

// backgrounds //
.bg-white {
    background-color: #fff;
}

.bg-light {
    background-color: var(--ion-color-light);
}

.bg-dark {
    background-color: var(--ion-color-dark);
}

.bg-primary {
    background-color: var(--ion-color-primary);
}

.bg-tertiary {
    background-color: var(--ion-color-tertiary);
}

.bg-profile {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
}

.bg-main {
    background-image: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
}

// Helpers //
.w100 {
    width: 100%;
}

.bold,
.fw500 {
    font-weight: 500 !important;
}

.fw700 {
    font-weight: 700 !important;
}

.text08 {
    font-size: .8rem;
}

.text1 {
    font-size: 1rem !important;
}

.text12 {
    font-size: 1.2rem;
}

.text15 {
    font-size: 1.5rem;
}

.text20 {
    font-size: 2rem;
}

.text-white {
    color: #fff;
}

.text-primary {
    color: var(--ion-color-primary);
}

.text-secondary {
    color: var(--ion-color-secondary);
}

.text-dark {
    color: var(--ion-color-dark);
}

// menu //
// Menu user profile
ion-toolbar.user-profile {
    .user-avatar {
        width: 68px;
        height: 68px;
    }
    .item-inner {
        border-width: 0;
    }
}

// Android card shadow
ion-card {
    &.sc-ion-card-md-h {
        box-shadow: 0 0px 2px rgba(var(--ion-color-dark-rgb), .12);
    }
}

// style for auth pages
.auth-page {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    .grid {
        padding: 0;
        .col {
            padding: 0;
        }
    }
    .btn-group {
        .button-ios,
        .button-md {
            border-radius: 0;
            &:first-of-type {
                border-radius: 2px 0 0 2px;
            }
            &:last-of-type {
                border-radius: 0 2px 2px 0;
            }
        }
    }
    .auth-content {
        margin: 0 5%;
        .logo {
            width: 180px;
            height: 60px;
            margin: 40px auto 25px;
            background: url("/assets/img/logo.png") no-repeat;
            background-size: 100%;
        }
        .list-form {
            padding: 0;
            margin-bottom: 0;
            ion-item {
                background: none;
                padding: 0;
                &:first-child {
                    border-top: none;
                }
                &:after {
                    display: none;
                }
                ion-label {
                    font-size: 1em;
                    color: var(--ion-color-light);
                }
                input {
                    color: var(--ion-color-light);
                }
            }
        }
    }
}

// Custom Menu styles (overriding Shadow DOM)
ion-menu {
    ion-header {
        ion-toolbar {
            &.ion-color-dark {
                --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
            }
        }
    }
}

.mto {
    margin-top: 12px;
    ion-icon {
        margin-bottom: -2px;
    }
}