<ion-list>
    <ion-item *ngFor="let tour of dataList">
        <ion-grid fixed>
            <ion-row fixed>
                <ion-col size="12">
                    <ion-row (click)="abrirTour(tour)">
                        <ion-col size="6">
                            <ion-img [src]="tour.get_photos[0].photo | imagenprofile"></ion-img>
                        </ion-col>
                        <ion-col size="6" class="mx-auto">
                            <ion-text>
                                <p><b>{{tour.name}}</b></p>
                            </ion-text>
                            <ion-text>
                                <p class="price"> $ {{tour.price}} {{tour.moneda}}</p>
                                <app-stars [rating]="tour?.calification"></app-stars>
                            </ion-text>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-list>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>