<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="myBackButton()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{'Payment.Pago' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <h1><b>{{'Payment.Completapedido' | translate}} </b></h1>
        <h4><b>{{tour?.name}}</b></h4>
    </div>
    <ion-list mode='ios' lines='none'>
        <ion-item>
            <ion-icon color="dark" slot="start" name="calendar"></ion-icon>
            <ion-label><b>{{fechaCalender}}</b> </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon color="dark" slot="start" name="pin"></ion-icon>
            <ion-label> <b>{{'Facturation.En' | translate}} {{ tour?.cuidad}}, {{ tour?.pais}}</b> </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon color="dark" slot="start" name="contacts"></ion-icon>
            <ion-label><b>{{numberTuristias}} x {{'Facturation.Participantes' | translate}}</b> </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon color="dark" slot="start" name="time"></ion-icon>
            <ion-label><b>{{Horaprupuesta}} hrs </b> </ion-label>
        </ion-item>
        <br>
        <ion-item>
            <ion-label slot="start">
                <h2><b>{{'Payment.Total' | translate}}:</b></h2>
                <small>:</small>
            </ion-label>
            <ion-label slot="end" style="margin-inline-start: -20%;">
                <h2><b>$ {{priceFinal}}</b></h2>
                <small>$ {{comision}}</small>
            </ion-label>
        </ion-item>
    </ion-list>
    <div class="hr"></div>
    <ion-list>
        <ion-radio-group>
            <ion-list-header>
                <h4>{{'Payment.Seleccionametodopago' | translate}}</h4>
            </ion-list-header>

            <ion-item>
                <ion-radio slot="start" value="Paypal" (ionSelect)="radioChecked('Paypal')"></ion-radio>
                <ion-label>{{'Payment.Paypal' | translate}}</ion-label>
                <ion-thumbnail slot="end">
                    <img src="assets/icon/icon-paypal.png" />
                </ion-thumbnail>
            </ion-item>

            <ion-item>
                <ion-radio slot="start" value="Card" (ionSelect)="radioChecked('Card')"></ion-radio>
                <ion-label>{{'Payment.Tarjeta' | translate}}</ion-label>
                <ion-thumbnail slot="end">
                    <img src="assets/icon/icon-visa.png" />
                </ion-thumbnail>
                <ion-thumbnail slot="end">
                    <img src="assets/icon/icon-mastercard.png" />
                </ion-thumbnail>
            </ion-item>

        </ion-radio-group>
    </ion-list>

    <div *ngIf="metododepago == 1">
        <form [formGroup]='PagoForm'>
            <ion-item>
                <ion-input placeholder="{{ 'Payment.NameCard' | translate }}" formControlName="nameCard" required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input placeholder="{{ 'Payment.NumberCard' | translate }}" formControlName="numberCard"
                type="number" required>
                </ion-input>
            </ion-item>
            <ion-item-divider></ion-item-divider>
            <ion-item>
                <ion-label>Expiracion</ion-label>
                <ion-datetime display-format="MM YYYY" picker-format="MM YYYY" placeholder="Select Date"
                    (ionChange)="updateMyDate($event)" max="2028"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-input placeholder="{{ 'Payment.CVV' | translate }}" type="number" formControlName="cvc"
                    formControlName="cvc" minlength="3" maxlength="4" required></ion-input>
            </ion-item>
            <br>
            <br>
            <ion-button [disabled]="!PagoForm.valid" expand="full" color="primary" *ngIf="!formProcess"
                (click)="payWithStripe()"><b>{{ 'Payment.Reservar' | translate }}</b></ion-button>
            <ion-button expand="full" color="primary" *ngIf="formProcess"><b>Processing please wait..</b></ion-button>
        </form>
    </div>

    <div *ngIf="metododepago == 2">
        <ion-button expand="full" color="primary" (click)="payWithPaypal()">
            <ion-icon name="card"></ion-icon>
            {{ 'Payment.Paypal' | translate }}
        </ion-button>
    </div>
</ion-content>