<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-title>{{ 'Mensajes.Mensajes' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-slides [options]="sliderOpts" *ngIf="NoHaySesioIniciada">
        <ion-slide>
            <div class="texto">
                <h2>{{ 'Resertation.NoSesion' | translate }}</h2>
                <ion-label></ion-label>
                <br><br>
                <ion-button class="log-in-button" color="primary" expand="block" [routerLink]="['/login']" routerLinkActive="router-link-active">
                    {{ 'Resertation.IniciaSesion' | translate }}
                </ion-button>
            </div>

        </ion-slide>
    </ion-slides>

    <ion-slides [options]="sliderOpts" *ngIf="Nomensajes">
        <ion-slide>
            <div class="texto">
                <h4>{{ 'Mensajes.Nomensajes' | translate }} </h4>
                <br><br>
                <ion-button class="log-in-button" color="primary" expand="block" [routerLink]="['/home/home']" routerLinkActive="router-link-active">
                    {{ 'Resertation.Exploremos' | translate }}
                </ion-button>
            </div>

        </ion-slide>
    </ion-slides>

    <div>
        <ion-row>
            <ion-col size="12">
                <div *ngFor="let mensaje of mensajes" class="fullwidth">
                    <ion-card class="tall" (click)="abrirChat(mensaje)">
                        <ion-card-content>
                            <ion-card-subtitle>{{mensaje.get_guia[0].name}}
                                <strong class="fecha">{{mensaje.get_reserva[0].Fechareserva    }}</strong>
                            </ion-card-subtitle>
                            <ion-list mode='ios' lines='none'>
                                <ion-item>
                                    <ion-avatar slot="start">
                                        <img [src]="mensaje.get_guia[0].img  | imagenprofile:'profile'">
                                    </ion-avatar>
                                    <ion-label class="ion-text-wrap">{{mensaje.get_reserva[0].NameTour}}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </div>

</ion-content>