<div *ngIf="InfoObtenida">
    <ion-card class="cardsearch">
        <img src="https://images.unsplash.com/photo-1464326230576-cf38ed045dfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1191&q=80" alt="">
        <div class="text-white card-title">{{DatosGeolocation.description}} <br></div>
        <div class="card-search">
            <ion-searchbar [(ngModel)]="search" class="searchbar-white" placeholder="Search Categories" (ionChange)="buscar()" [debounce]="250" mode="ios"></ion-searchbar>
            <ion-list [hidden]="!search.length" lines='none'>
                <ion-item (click)="selectSearchResult(searchResults)">
                    {{searchResults.description}}
                </ion-item>
            </ion-list>
        </div>
    </ion-card>
</div>

<app-listastours *ngIf="Existentours" [tours]="tours"></app-listastours>