<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="no-border">
    <div *ngIf="Conexion">
        <app-slidessearch></app-slidessearch>
        <app-listastours *ngIf="Existentours" [tours]="tours"></app-listastours>
        <ion-slides [options]="sliderOpts" *ngIf="NoExistentours">
            <ion-slide>
                <div class="texto">
                    <img src="assets/img/Tiki.png" alt="" style="height: 200px !important;">
                    <h2>Proximamente <br> en tu ciudad</h2>
                    <ion-label>Explora y encuentro tu viaje ideal</ion-label>
                    <br><br>
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <div *ngIf="NoConexion">
        <ion-slides [options]="sliderOpts">
            <ion-slide>
                <div class="texto">
                    <h2>Hubo un error. <br> Por favor vuelve a intentar mas tarde</h2>
                    <ion-label>Ponte en contacto con nosotros si el problema continua </ion-label>
                    <br><br>
                    <ion-button class="log-in-button" color="primary" expand="block" (click)="buscarTours(data.place_id)">
                        Actualizar
                    </ion-button>
                </div>

            </ion-slide>
        </ion-slides>
    </div>
</ion-content>